body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03011f;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden
}

.content {
    padding: 0;
    width: 50%;
    min-width: 300px;
    max-width: 700px
}

.timeline {
    padding: 50px 0
}

.timeline li {
    position: relative;
    list-style-type: none;
    width: 6px;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px
}

.timeline li::after {
    background: white;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0
}

.timeline li div {
    position: relative;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    bottom: 0;
    background: rgba(42, 50, 113, .28);
    color: #6cacc5
}

.timeline li:nth-child(odd) div {
    left: 45px
}

.timeline li:nth-child(even) div {
    left: -445px
}

time {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px
}

.timeline li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out
}

.timeline li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0)
}

.timeline li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0)
}

.timeline li.show div {
    transform: none;
    visibility: visible;
    opacity: 1
}

@media screen and (max-width: 900px) {
    .timeline li div {
        width: 250px
    }
    .timeline li:nth-child(even) div {
        left: -289px
    }
}

.hovering-left {
    position: absolute;
    left: 5%
}

.hovering-right {
    position: absolute;
    right: 5%
}

.hovering {
    animation-name: hovering;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px
}

@keyframes hovering {
    from {
        transform: translate(0, 0px)
    }
    65% {
        transform: translate(0, 20px)
    }
    to {
        transform: translate(0, -0px)
    }
}